* {
	margin: 0;
	padding: 0;
	/*font-family: 'Architects Daughter', cursive;
	font-family: 'Righteous', cursive;*/
}

body {
	background-color: #FAF0FA;
}

nav {
	height: 70px;
	background-color: rgba(0,0,216, 222);
	width: 100%;
	height: 100%;
	position: relative;
}

nav .logo a {
	float: left;
	font-family: 'Righteous', cursive;
	font-size: 50px;
	text-shadow: 5px 3px 5px gray;
	margin-left: 20px;
	color: white;
	text-decoration: none;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	margin: 20px 10px;
}

nav ul li a {
	text-decoration: none;
	font-size: 25px;
	font-family: 'Righteous', cursive;
	color: #525252;
	display: inline-block;
	width: 150px;
	text-align: center;
}

nav ul li a:hover {
	transition: 500ms;
	background-color: #BB46A4;
}

nav .clear {
	clear: both;
}

article {
	text-align: center;
	margin: 100px auto 169px;
	font-size: 30px;
}

article h1 {
	margin-bottom: 50px;
	font-family: 'Righteous', cursive;
	color: #634309;
	text-shadow: 3px 3px 3px gray;
}

article ul li a {
	text-decoration: none;
	font-size: 25px;
	font-family: 'Righteous', cursive;
	color: #525252;
	display: inline-block;
	width: 150px;
	text-align: center;
	line-height: 50px;
}

footer {
	background-color: black;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
	position: relative;
	bottom: -5px;
	left: 0;
	right: 0;
	color: #F9EFF7;
}
